<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Архив статей</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
</head>
<body>
  <div class="header">
      <img src="{{ STATIC_URL }}/static/img/logo.png" width="100" height="100"/>
      {% if request.user.is_authenticated %}
      <h3><a href="/article/new">Создать статью</a></h3>
      <h3><a href="/logout">Выход из аккаунта</a></h3>
      {% else %}
      <h3><a href="/login">Авторизация</a></h3>
      <h3><a href="/register">Регистрация</a></h3>
      {% endif %}
  </div>
  <div class="archive">
      {% for post in posts %}
      <div class="one-post">
          <h2 class="post-title"><a href="/article/{{ post.id }}">{{ post.title }}</a></h2>
          <div class="article-info">
              <div class="article-author">{{ post.author.username }}</div>
              <div class="article-created-date">{{ post.created_date }}</div>
          </div>
          <p class="article-text">{{ post.get_excerpt }}</p>
      </div>
      {% endfor %}
  </div>
</body>
</html>
