body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

.header img {
display: block;
width: 318px;
margin-left: auto;
margin-right: auto;
}

.archive {
width: 960px;
margin-left: auto;
margin-right: auto;
}

.post-title a {
color: #ffffff;
}

.article-author {
width: 50%;
float: left;
}

.article-created-date {
text-align: right;
}

.article {
width: 960px;
margin-left: auto;
margin-right: auto;
}

.all-articles a {
color: #ffffff;
}

.all-articles {
text-align: right;
}

.title input {
  display:block;
  width:50%;
  margin:10px 0;
  padding:10px;
}

.text textarea {
  display:block;
  width:50%;
  height: 100px;
  margin:10px 0;
  padding:10px;
}

.button input {
  display:block;
  width:200 px;
  text_align: center;
  margin:10px 0;
  padding:10px;
}

